body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100vh;
}

.background {
    background-image: url(IMG/images.jfif);
    height: 100%;
}

#nagusia {
    display: flex;
    justify-content: space-around;
}

.aside1 {
    width: 50%;
    height: 100vh;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cookie button {
    background-color: rgba(240, 248, 255, 0);
    border: 0;
    font-size: 15em;
}

.aside2 {
    width: 50%;
    height: 100vh;
    border-left: 1px solid black;
}