@font-face {
    font-family: cookiecklicker;
    src: url(../FONTS/merriweather.regular.ttf);
}

body {
    height: 100vh;
}

/* HASIERAKO MENUA */
.login {
    background: linear-gradient(rgb(231, 167, 167), rgb(61, 50, 50));
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, sans-serif;
}

    .container {
        text-align: center;
        color: white;
    }

        h1 {
            font-size: 4em;
            margin: 0;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

            .first-letter {
                font-size: 2em;
            }

                h3 {
                    margin-bottom: 40px;
                    font-size: 1.5em;
                }

#botoia {
    margin-top: 20px;
}

    #botoia input {
        background: linear-gradient(45deg, #FF512F, #DD2476);
        color: white;
        font-size: 2em;
        width: 300px;
        height: 80px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
    }

        #botoia input:hover {
            background: linear-gradient(45deg, #DD2476, #FF512F);
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
            transform: scale(1.05);
        }

aside img {
     width: 70%;
}

    #barra {
        height: 200px;
        border: 1px solid black;
    }

/* INTERFAZ */

.itxura {
    padding: 2%;
    border: 1px solid grey;
    border-radius: 5px 5px 5px;
    height: 90vh;
    width: 70%;
    margin: 0 auto;
    background-image: url(../IMG/fondo.png);
}

header {
    text-align: center;
}


    header h2{ 
        width: 30%;
        height: 45px;
        border: 1px solid rgba(255, 255, 255, 0.575);
        border-radius: 10px 10px 10px; 
        color: white;
        background-color: #817b7e94; 
        margin: 0 auto;
        cursor: pointer;
        margin-bottom: 5px;
    }

        p {
            font-size: 1.2em;
            width: 20%;
            margin: 0 auto;
            color: white;
            background-color: #817b7e94;
            border-radius: 7px 7px 7px;
        }

            hr {
                border: 2px solid gray;
                border-left: 0;
                border-right: 0;
                border-bottom: 0;
                padding-bottom: 1%;
            }

                h2 {
                    margin-top: -5px;
                    font-size: 2em;
                }

                    .background {
                        background-image: url(IMG/images.jfif);
                    }

#nagusia {
    display: flex;
    justify-content: space-around;
}

.aside1 {
    width: 50%;
    height: 75vh;
    border-right: 1px solid gray;
}

.cockie {
    display: flex;
    align-items: center;
}

    .cockie button {
        background-color: rgba(240, 248, 255, 0);
        border: 0;
        font-size: 17em;
        width: 100%;
        height: 300px;
        margin: 0 auto;
        margin-top: 50px;
        transition: all 0.3s ease-in-out;

    }

        .cockie:hover {
            transform: scale(1.05);
        }

            .cockie button:active {
                transform: scale(1.1);
            }



.aside2 {
    width: 50%;
    height: 75vh;
    border-left: 1px solid gray;
}
    .aside2 h1 {
        text-align: center;
        font-size: 2em;
    }

        .aside2 h1 {
            width: 50%;
            margin: 0 auto;
            color: white;
            background-color: #817b7e94;
            border-radius: 7px 7px 7px;
        }

            #upgradeButtons {
                display: flex;
                flex-wrap: wrap;
                padding-top: 2%;
            }

                #upgradeButtons button {
                    height: 100px;
                    width: 90%;
                    margin: 0 auto;
                    border: 2px solid gray;
                    border-radius: 5px 5px 5px;
                    margin-bottom: 5%;
                    color: white;
                    font-size: 2.2em;
                    font-family: cookiecklicker;
                    font-weight: 400;
                    text-align: end;
                }

                    button:hover {
                        cursor: pointer;
                        transform: scale(1.02);
                    }

                        #Kurtsorea {
                            background-image: url(../IMG/Kurtsorea.png);
                            background-size: auto;
                        }           
                        #Amona {
                            background-image: url(../IMG/amona.png);
                        }           
                        #Baserria {
                            background-image: url(../IMG/baserria.png);
                        }
                        #Meatze {
                            background-image: url(../IMG/meatze.png);
                        }


/* POWERUPS */                        

.powerups {
    display: flex;
    justify-content: space-around;
}

    .powerups button {
        width: 20%;
        height: 115px;
        border-radius: 7px;
        border: 2px solid gray;
        position: relative; /* To position the popover relative to the button */
    }

        .ezkut {
            visibility: hidden;
            width: 200px; /* Adjust as necessary */
            background-image: url(../IMG/fondo.webp);
            color: #fff;
            text-align: center;
            font-size: 1.8em;
            padding: 5px;
            border: 1px solid black;
            border-radius: 6px;
            position: absolute;
            z-index: 1;
            bottom: 120%; /* Position above the button */
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            box-shadow: 5px 5px 10px;
            transition: opacity 0.3s ease, visibility 0.3s ease;
        }

            .powerups button:hover .ezkut, .ezkut:hover {
                visibility: visible;
                opacity: 1;
            }

                #prezioak h3 {
                    width: 100%;
                    font-size: 1.4em;
                    margin: 0 auto;
                    color: white;
                    background-color: #817b7e94;
                    border-radius: 7px 7px 7px;

                }